button {
	
	border-radius: 7px;
	outline: 1px solid black;
	background: rgb(0,0,0,0);
	color: rgb(0,0,0);
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;

}

#dialogBox {

	background-color: rgb(255,255,255);
	border-radius: 7px;

}

input, select {

	border-radius: 7px;
	outline: 1px solid black;
	border: none;

}

input[type="image"] {
	
	background-color: transparent;
	outline: none;

}

button:hover {

	cursor: pointer;

}

button:active {
	
	transform: scale(0.95);

}

select:hover {
	
	cursor: pointer;

}

.counter {

	background-color: transparent;
	color: rgb(12,12,12);
	outline: none

}

#mailList {

	border-radius: 7px;
	outline: 2px solid rgb(200, 200, 200);

}

@media (prefers-color-scheme: dark) {

	body {

		background-color: rgb(15,15,15);
		color: rgb(255,255,255);

	}

	button {

		color: rgb(255, 255, 255);
		outline: 1px solid white;

	}

	input, select {

		border-radius: 7px;
		outline: 1px solid white;
		background-color: rgb(15,15,15);
		color: white;
		border: none;

	}

	.counter {
		
		color: rgb(255, 255, 255);

	}

	#dialogBox {

		background-color: rgb(15,15,15);

	}

	#mailList {

		outline: 2px solid rgb(55, 55, 55);

	}

}
